- @current_credits = UserSession.instance.get_user.credits_taken
- @credits_left = Major.find(UserSession.instance.get_user.major_1).credits.to_i - @current_credits
%br/
%br/
%br/
%center
  %h1#home-lp-title
    Welcome to your dashboard,
    - if UserSession.instance.get_user.first_name.nil?
      = UserSession.instance.get_user.username
    - else
      = UserSession.instance.get_user.first_name
  %p This is your schedule planner. In the taskbar, you have the option of letting the application generate a schedule for you, or to view your drafts you have saved. You have a maximum of 5 drafts allowed to be saved in your profile. Team 1023MB hopes you enjoy the experience!

%section
  / Graph to monitor student's progress goes here:
  %center
    = pie_chart ({"Current Credits" => @current_credits, "Credits Left" => @credits_left}), donut: true
    - unless courses.nil?
      / Courses they've taken
      %section
        %br
        %h2 Courses you've taken so far:
        .table-wrapper
          %table
            %thead
              %tr
                %th Course #
                %th Class Name
                %th Description
            %tbody
              - courses.each do |course|
                %tr
                  %td
                    = course.course_code
                  %td
                    = course.name
                  %td
                    = course.description
            %tfoot
              %tr
                %td{:colspan => "3"}


